<!DOCTYPE html>

{% extends "layout.html" %}

{% block meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" integrity="sha512-Oy18vBnbSJkXTndr2n6lDMO5NN31UljR8e/ICzVPrGpSud4Gkckb8yUpqhKuUNoE+o9gAb4O/rAxxw1ojyUVzg==" crossorigin="anonymous" />
    <title>Course Deployment Guide</title>
{% endblock %}

{% block content %}

    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Deployment Guide</span>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Review the GitHub Readme</h1>
                <p class="col-md-10 fs-4">Using a series of procedure on RPi or AWS, you can create a Internet hosted website.</p>
                <a href="https://github.com//nighthawkcoders/nighthawk_csp" target="_blank" class="standard-link">View on Github</a>
            </div>
        </div>

        <p id="readme"></p>

        <script>

            const MARKDOWN_API = "https://api.github.com/markdown/raw";
            const DATA_URL = "https://raw.githubusercontent.com/nighthawkcoders/nighthawk_csp/master/README.md";

            const main = async()=>{
                const markdownResponse = await fetch(DATA_URL);
                const markdownData = await markdownResponse.text();

                console.log(markdownData);

                const htmlResponse = await fetch(MARKDOWN_API, {method:"POST", body:markdownData});
                const htmlData = await htmlResponse.text();

                $("#readme").append(htmlData);
                console.log(htmlData);
            }

            main();

        </script>
    </div>

{% endblock %}