<!DOCTYPE html>

{% extends "layout.html" %}

{% block meta %}
    <title>Replit Console Project</title>
{% endblock %}

{% block content %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <span class="fs-4">Replit Console Project</span>
        </header>

        <div class="row justify-content-center" style="margin: 2%;">
            <iframe height="1000px" src="https://repl.it/@jmort1021/Python-Hello-Series?lite=true"></iframe>
        </div>
    </div>


{% endblock %}