<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <div class="btn-group">
            <img src="{{ url_for('static', filename='assets/ncs_logo.png') }}" width="50" height="50" class="d-inline-block align-center" alt="">
            <a class="navbar-brand" href="https://nighthawkcodingsociety.com">Nighthawk Coders</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarHome">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Starters
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('starter.greet') }}>Flask Greetings</a></li>
                            <li><a class="dropdown-item" href={{ url_for('starter.binary') }}>Binary Math</a></li>
                            <li><a class="dropdown-item" href={{ url_for('starter.rgb') }}>RGB Intro</a></li>
                            <li><a class="dropdown-item" href={{ url_for('starter.joke') }}>Joke API</a></li>
                            <li><a class="dropdown-item" href={{ url_for('starter.jokes') }}>Jokes API</a></li>
                            <li><a class="dropdown-item" href={{ url_for('starter.covid19') }}>Covid19 RapidAPI</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Data
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('api.joke') }}>Joke RESTapi</a></li>
                            <li><a class="dropdown-item" href={{ url_for('api.jokes') }}>Jokes RESTapi</a></li>
                            <li><a class="dropdown-item" href={{ url_for('crud.crud') }}>SQL CRUD</a></li>
                            <li><a class="dropdown-item" href={{ url_for('crud_api.crud_api') }}>SQL CRUD Async</a></li>
                            <li><a class="dropdown-item" href={{ url_for('crud.search') }}>SQL Search</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Algorithms
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('algorithm.fibonacci') }}>Fibonacci</a></li>
                            <li><a class="dropdown-item" href={{ url_for('algorithm.palindrome') }}>Palindrome</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Frontend
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('frontend.graph') }}>Graph</a></li>
                            <li><a class="dropdown-item" href={{ url_for('frontend.life') }}>Life</a></li>
                            <li><a class="dropdown-item" href={{ url_for('frontend.snake') }}>Snake</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Course-materials
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="https://cspcoders.nighthawkcodingsociety.com/" target="_blank">Nighthawk CSP Project</a></li>
                            <li><a class="dropdown-item" href={{ url_for('y2022.replit') }}>Replit Console Project</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href={{ url_for('y2022.tri1') }}>Trimester 1</a></li>
                            <li><a class="dropdown-item" href={{ url_for('y2022.tri2') }}>Trimester 2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

        <div class="btn-group">
            <!-- Search Box -->
            <div class="px-3">
                <input id="search" type="search" placeholder="Search" aria-label="Search">
            </div>
            <!-- Clock display -->
            <div class="px-3 text-dark">
                <span id="clock"></span>
            </div>
            <!-- Dark mode action -->
            <div class="form-check form-switch">
                <input type="checkbox" onclick="darkFunction()" class="form-check-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
        </div>

        {% block navbar_script %}
            <!-- Navigation bar JavaScript support -->
            <script src={{  url_for("static", filename="javascript/navbar.js", version='140') }}></script>
        {% endblock %}

    </div>
</nav>