:root{
    --yellow: #f1d483;
    --green: #9daf9b;
    --purple: #a59aaf;
    --lblue: #6084a3;
    --dblue: #2b425b;
    --gray: #363d47;
    --white: whitesmoke;
    --black: black;
    --grey: grey;
}

.dark-mode {
    background-color: var(--purple);
    color: var(--black);
}
