<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}

    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <span class="fs-4">SQL CRUD Sign Up Page</span>
        </header>
    </div>

    <div class="container py-4 text-light bg-success">

        <div class="container bg-secondary py-4">
            <div class="p-5 mb-4 bg-light text-dark rounded-3">
                <form method="POST" ID="authUser" action={{url_for('crud.crud_authorize')}} >
                    <table>
                        <tr><th><label for="user_name">Username</label></th></tr>
                        <tr><td><input type="text" id='user_name' name="user_name" size="20" required></td></tr>
                        <tr><th><label for="email">Email</label></th></tr>
                        <tr><td><input type="email" id="email" name="email" size="20" required></td></tr>
                        <tr><th><label for="password1">Password</label></th></tr>
                        <tr><td><input type="password" id='password1' name="password1" size="20" required></td></tr>
                        <tr><th><label for="password2">Password Confirmation</label></th></tr>
                        <tr><td><input type="password" id='password2' name="password2" size="20" required></td></tr>
                        <tr><th><input type="submit" value="Submit"></th></tr>
                        <tr><td><a href={{url_for('crud.crud_login')}}>Log In</a></td></tr>
                    </table>
                </form>
            </div>
        </div>

    </div>

{% endblock %}

