<!DOCTYPE html>
{% extends "layout.html" %}

<!-- Search for all the Hack: below for hack-a-thon and mini-lab requirements -->
<!-- need to adjust Templates to start -->

<!-- Hack: Build form to drive bit size dynamic updates
           use HTML Input Form in Frontend, ie toward top of Page
           send initial value and updated values to form via Python render_template -->
<!-- Hack: use 8 as default -->
{% set BITS = 8 %}
{% set MAX = ((2 ** BITS) - 1) %}

<!-- Hack: Set bulbs and pass as variables via Python render_template
           add new images (ie PNGs) to project -->
<!-- use your PNGs as default -->
{% set imgBulbOn = "/static/assets/bulb_on.gif" %}
{% set imgBulbOff = "/static/assets/bulb_off.png" %}
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}

{% block meta %}
<title>Binary page</title>
<script>
  const BITS = '{{ BITS }}'; let max = '{{ MAX }}'; let MAX = parseInt(max, 10);
  // return string with current value of each bit
  function getBits() {
    let bits = "";
    for(let i = 0; i < BITS; i++) {
      bits = bits + document.getElementById('digit' + i).value;
    }
    return bits;
  }
  // setter for DOM values
  function setConversions(binary) {
    document.getElementById('binary').innerHTML = binary;
    // DOM assignment to Octal conversion
    document.getElementById('octal').innerHTML = parseInt(binary, 2).toString(8);
    // DOM assignment to Hexadecimal conversion
    document.getElementById('hexadecimal').innerHTML = parseInt(binary, 2).toString(16);
    // DOM assignment to Decimal conversion
    document.getElementById('decimal').innerHTML = parseInt(binary, 2).toString(10);
    /* Hack: show ASCII printable character(s) for each 8 bits
     DOM assignment by converting decimal https://www.w3schools.com/jsref/jsref_fromcharcode.asp
     below ASCII for more ideas of where to make changes
     */
  }

  // algorithm to convert decimal to base using division and remainder
  function decimal_2_base(decimal, base) {
    let conversion = "";
    // loop to convert to base
    do {
      let digit = decimal % base;
      conversion = "" + digit + conversion; // what does this do?
      decimal = ~~(decimal / base);         // what does this do?  what is ~~?
    } while (decimal > 0);                  // why while at the end?
    // loop to pad with zeros
    if (base === 2) {                        // only pad for binary conversions
      for (let i = 0; conversion.length < BITS; i++) {
        conversion = "0" + conversion;
      }
    }
    return conversion;
  }

  // toggle selected bit and recalculate
  function toggleBit(i) {
    //alert("Digit action: " + i );
    const dig = document.getElementById('digit' + i);
    const image = document.getElementById('bulb' + i);
    const butt = document.getElementById('butt' + i);
    // Change digit and visual
    if (image.src.match("{{ imgBulbOn }}")) {
      dig.value = 0;
      image.src = "{{ imgBulbOff }}";
      butt.innerHTML = "{{ msgTurnOn }}";
    } else {
      dig.value = 1;
      image.src = "{{ imgBulbOn }}";
      butt.innerHTML = "{{ msgTurnOff }}";
    }
    // Binary numbers
    const binary = getBits();
    setConversions(binary);
  }
  // add is positive integer, subtract is negative integer
  function add(n) {
    let binary = getBits();
    // convert to decimal and do math
    let decimal = parseInt(binary, 2);
    if (n > 0) {  // PLUS
      decimal = MAX === decimal ? 0 : decimal += n; // OVERFLOW or PLUS
    } else  {     // MINUS
      decimal = 0 === decimal ? MAX : decimal += n; // OVERFLOW or MINUS
    }
    // convert the result back to binary
    binary = decimal_2_base(decimal, 2);
    // update conversions
    setConversions(binary);
    // update bits
    for (let i = 0; i < binary.length; i++) {
      let digit = binary.substr(i, 1);
      document.getElementById('digit' + i).value = digit;
      if (digit === "1") {
        document.getElementById('bulb' + i).src = "{{ imgBulbOn }}";
        document.getElementById('butt' + i).innerHTML = "{{ msgTurnOff }}";
      } else {
        document.getElementById('bulb' + i).src = "{{ imgBulbOff }}";
        document.getElementById('butt' + i).innerHTML = "{{ msgTurnOn }}";
      }
    }
  }
</script>
{% endblock %}

{% block content %}
<h1 class="text-center">Binary Math with Conversions</h1>
<div class="container">
  <div class="row justify-content-md-center">

    <div class="col-8">
      <table class="table">
      <tr id="table">
        <th>Plus</th>
        <th>Binary</th>
        <th>Octal</th>
        <th>Hexadecimal</th>
        <th>Decimal</th>
        <!-- Hack: display ASCII label for printable character(s)  -->
        <th>Minus</th>
      </tr>
      <tr>
        <td><button type="button" id="add1" onclick="add(1)">+1</button></td>
        <td id="binary">00000000</td>
        <td id="octal">0</td>
        <td id="hexadecimal">0</td>
        <td id="decimal">0</td>
        <!-- Hack: display ASCII printable character(s)  -->
        <td><button type="button" id="sub1" onclick="add(-1)">-1</button></td>

      </tr>
      </table>
    </div>

    <div class="col-12">
      <table class="table">
        <tr>
          {% for i in range(BITS) %}
            <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto">
              <button type="button" id="butt{{i}}" onclick="toggleBit('{{i}}')">{{ msgTurnOn }}</button>
            </td>
          {% endfor %}
        </tr>
        <tr>
          {% for i in range(BITS) %}
            <td><input type='text' id='digit{{i}}' Value="0" size="1" readonly></td>
          {% endfor %}
        </tr>
      </table>
    </div>

  </div>
</div>
{% endblock %}
