<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
{% set world = stats.world_total %}
{% set countries = stats.countries_stat %}

<div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
    <!-- Title -->
    <div class="col-12" style="text-align: center;">
        <h1><strong>COVID-19 RESTapi from rapidapi.com</strong></h1>
        <form action={{url_for('starter.covid19')}}>
            <button>Refresh!</button>
        </form>
    </div>

    <!-- Sequence -->
    <div class="col-12" style="text-align: left; ">
        <table style="margin: 2%">
            <tr>
                <th>Time</th>
            </tr>
            <tr>
                <td> {{world.statistic_taken_at}} </td>
            </tr>
        </table>
        <table style="margin: 2%">
            <tr>
                <th>Country</th>
                <th>All-time Cases....</th>
                <th>Total Deaths......</th>
                <th>Active Cases......</th>
            </tr>
            <tr>
                <td>World</td>
                <td> {{world.total_cases}} </td>
                <td> {{world.total_deaths}} </td>
                <td> {{world.active_cases}} </td>
            </tr>
            {% for country in countries %}
            <tr>
                {% set name = country.country_name %}
                <td>{{name}}</td>
                {% set cases = country.cases %}
                <td>{{cases}}</td>
                {% set deaths = country.deaths %}
                <td>{{deaths}}</td>
                {% set active_cases = country.active_cases %}
                <td>{{active_cases}}</td>
            </tr>
            {% endfor %}
        </table>
        <table style="margin: 2%">
            <tr>
                <th>World</th>
            </tr>
            <tr>
                <td>{{world}}</td>
            </tr>
        </table>
        <table style="margin: 2%">
            <tr>
                <th>Countries</th>
            </tr>
            <tr>
                <td>{{countries}}</td>
            </tr>
        </table>
    </div>

</div>
<style>
    table, td, th {
        border: 1px solid var(--dblue);
    }
    td, th {
        text-align:left;
    }
</style>

{% endblock %}
