<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    {% set world = stats.world_total %}
    {% set countries = stats.countries_stat %}

    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Covid19 RapidAPI</span>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Time of Covid19 RapidAPI Last Update</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{world.statistic_taken_at}} </td>
                </tr>
                </tbody>
            </table>
            <div class="container-fluid py-5">
                <form action={{url_for('starter.covid19')}}>
                    <button>Refresh!</button>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Country</th>
                <th style="text-align:right">All-time Cases</th>
                <th style="text-align:right">Total Recovered</th>
                <th style="text-align:right">Total Deaths</th>
                <th style="text-align:right">Active Cases</th>
                <th style="text-align:right">New Cases</th>
                <th style="text-align:right">Serious Critical</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>World</td>
                <td style="text-align:right"> {{world.total_cases}} </td>
                <td style="text-align:right"> {{world.total_recovered}} </td>
                <td style="text-align:right"> {{world.total_deaths}} </td>
                <td style="text-align:right"> {{world.active_cases}} </td>
                <td style="text-align:right"> {{world.new_cases}} </td>
                <td style="text-align:right"> {{world.serious_critical}} </td>
            </tr>
            {% for country in countries %}
                <tr>
                    {% set name = country.country_name %}
                    <td>{{name}}</td>
                    <td style="text-align:right"> {{country.cases}} </td>
                    <td style="text-align:right"> {{country.total_recovered}} </td>
                    <td style="text-align:right"> {{country.deaths}} </td>
                    <td style="text-align:right"> {{country.active_cases}} </td>
                    <td style="text-align:right"> {{country.new_cases}} </td>
                    <td style="text-align:right"> {{country.serious_critical}} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>World JSON</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{world}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr>
                <th>Countries JSON</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{countries}}</td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
