<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-12" style="text-align: center;">
            <h1><strong>Random Joke</strong></h1>
            <form action={{url_for('starter.joke')}}>
                <button>Refresh!</button>
            </form>
        </div>


        <!-- Input and Content -->
        <div class="jumbotron text-left row">
            <div class="col-md">
                <p class="setup"><strong>{{joke.joke}}</strong></p>
            </div>
        </div>

    </div>
    <table style="margin: 2%">
        <tr>
            <th>JSON Data</th>
        </tr>
        <tr>
            <td>{{joke}}</td>
        </tr>
    </table>

</div>
{% endblock %}
