<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="container py-4 text-light bg-primary">
        <header class="pb-3 mb-4 border-bottom">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Random Joke</span>
            </a>
        </header>

        <div class="p-5 mb-4 text-dark bg-light rounded-3">
            <div class="container-fluid py-5">
                <p class="setup"><strong>{{joke.joke}}</strong></p>
                <form action={{url_for('starter.joke')}}>
                    <button>Refresh!</button>
                </form>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>JSON Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{joke}}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
