<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>RGB starter</title>
{% endblock %}

{% block content %}
    <h1 class="text-center">Red Green Blue values within a PNG file</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            {% for color in colors %}
                <div class="col-2">
                    <img class="img-responsive py-3" src="{{url_for('.static', filename=color.file)}}" alt="" width="25%" height="Auto">
                    <p>{{color.label}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}