<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>RGB starter</title>
{% endblock %}

{% block content %}
    <h1 class="text-center">Red Green Blue values within an Image</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <table class="mx-auto">
                {% for color in colors %}
                    <tr>
                        <td>
                            <img class="img-responsive py-3" src="{{url_for('.static', filename=color.file)}}" alt="" width="25%" height="Auto">
                        </td>
                        <td>
                            {{color.format}}, {{color.mode}}, {{color.size}}, {{color.array}}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}