<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>Graph</title>
{% endblock %}

{% block content %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <span class="fs-4">JavaScript - Draw on Canvas</span>
        </header>

        <div class="container py-4 bg-primary" style="text-align:center;">
            <canvas id="canvas" width="512" height="384" ></canvas>
        </div>
    </div>

    <script>
        // https://www.w3schools.com/graphics/canvas_intro.asp
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const width = canvas.width;
        const height = canvas.height;
        const unit = 16;   // unit block size


        // grid based off of width, height
        function grid(){
            // color and pen width
            ctx.strokeStyle = 'white';
            ctx.lineWidth = 1;
            // make graph paper look
            for (let col = 0; col < width; col += unit) {
                for (let row = 0; row < height; row += unit) {
                    ctx.strokeRect(col, row, unit, unit);
                }
            }
        }

        // axis lines
        function axis() {
            // color and pen width
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 3;

            // x & y zero midpoints of grid
            const x0 = width*.5;
            const y0 = height*.5;
            // x-axis
            ctx.moveTo(0, y0);
            ctx.lineTo(width, y0);
            ctx.stroke();
            // y-axis
            ctx.moveTo(x0, 0);
            ctx.lineTo(x0, height);
            ctx.stroke();
        }

        // square using lines
        function square(x0, y0, len) {
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 5;

            let x = x0*unit + (canvas.width/2);
            let y = -y0*unit + (canvas.height/2);
            let l = len*unit;
            // draw a square
            ctx.beginPath();
            ctx.moveTo(x, y);
            ctx.lineTo(x+l, y);
            ctx.lineTo(x+l, y-l);
            ctx.lineTo(x, y-l);   // positive y is negative orientation in grid
            ctx.lineTo(x, y);
            ctx.stroke();
        }

        // randomly find
        function randomPlusMinus(range) {
            let pluMinusSeed =  (Math.random() - 0.499) * 2; // from -.998 to .998
            return Math.round(pluMinusSeed * range);  // convert to rounded integer
        }

        // randomly draw squares
        function randomDraw(i) {
            // recursion base case
            if ( i <= 0) {
                return;
            }
            // obtain x, y coordinates on canvas
            let x = randomPlusMinus(canvas.width/unit/2);
            let y = randomPlusMinus(canvas.height/unit/2);
            // obtain random length between 1 and 5
            let l = Math.floor((Math.random()) * 5) + 1;
            // draw square
            square(x, y, l);
            // timeout allows user to enjoy drawing effect
            // this function calls itself, but decrements counter before call
            setTimeout(() => { randomDraw(--i); }, 150);
        }

        // three basic operations, grid -- axis -- square
        grid();
        axis();
        square(-2, -2, 4);

        // randomly draw 50 squares for fun
        randomDraw(50);

    </script>
{% endblock %}
