<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">

        <div class="col-12" style="text-align: left;">
            <p>Hello, {{name}}!</p>
        </div>

        <div class="col-12" style="text-align: left;">
            <form action="/greet" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>

    </div>

    <!-- display code from GitHub -->
    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <div class="col-8" style="text-align: left;">
            <p>Python backend code.  This code sets up the "name=" variable that is passed to the HTML (greet.html).  This code contains "if statements (selections/conditionals)" to test for input being entered from form (name=name).  The default condition (name="World") occurs when either if condition evaluates to false. </p>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csp%2Fblob%2Fmaster%2Fmain.py%23L20-L28&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
        </div>

        <div class="col-8" style="text-align: left;">
            <p>Jinja2 pre-processor code.  This shows the variable name within double curly/squiggly brackets.  This is a variable in Jinja and is replaced with variable value before the HTML is presented in browser (pre-processor).</p>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csp%2Fblob%2Fmaster%2Ftemplates%2Fgreet.html%23L8-L8&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
        </div>

        <div class="col-8" style="text-align: left;">
            <p>HTML Form.  Form action and input interacts between HTML and the backend server, the POST is the HTML method.</p>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csp%2Fblob%2Fmaster%2Ftemplates%2Fgreet.html%23L12-L16&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
        </div>
    </div>

{% endblock %}