<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <div class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Flask Home Page</span>
            </div>
        </header>

        <div class="p-5 mb-4 rounded-3">
            <div class="container-fluid py-5">
                <div class="row">

                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='assets/flask.png') }}" height="150px" class="d-inline-block align-center" alt="">
                    </div>
                    <div class="col-md-9">
                        <h3><strong>What is Flask?</strong> Flask is a web application framework written in Python. It was developed by Armin Ronacher, who led a team of international Python enthusiasts called Poocco. Flask is often referred to as a microframework. It is designed to keep the core of the application simple and scalable. <a href="https://padlet.com/jmortensen7/cspflaskbrains">Learn more!</a></h3>
                    </div>

                </div>
            </div>

            <div class="container-fluid py-5">

                <div class="row">

                    <div class="col-md-9">
                        <h3><strong>What is WSGI?</strong> The Web Server Gateway Interface (Web Server Gateway Interface, WSGI) has been used as a standard for Python web application development. WSGI is the specification of a common interface between web servers and web applications.</h3>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='assets/wsgi.png') }}" height="150px" class="d-inline-block align-center" alt="">
                    </div>

                </div>

            </div>

            <div class="container-fluid py-5">

                <div class="row">

                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='assets/werkzeug_logo.png') }}" height="150px" class="d-inline-block align-center" alt="">
                    </div>
                    <div class="col-md-9">
                        <h3><strong>What is Werkzeug?</strong> Werkzeug is a WSGI toolkit that implements requests, response objects, and utility functions. This enables a web frame to be built on it. The Flask framework uses Werkzeg as one of its bases.</h3>
                    </div>

                </div>

            </div>

            <div class="container-fluid py-5">

                <div class="row">

                    <div class="col-md-9">
                        <h3><strong>What is Jinja2?</strong> Jinja2 is a popular template engine for Python.  A web template system combines a template with a specific data source to render a dynamic web page. This allows you to pass Python variables into HTML. </h3>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='assets/jinja_logo.jpeg') }}" height="150px" class="d-inline-block align-center" alt="">
                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}
