<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en">
<!-- Head, think of things that are more meta or format oriented -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Common style for site -->
    <style>
        :root{
            --yellow: #f1d483;
            --green: #9daf9b;
            --purple: #a59aaf;
            --lblue: #6084a3;
            --dblue: #2b425b;
            --gray: #363d47;
            --white: whitesmoke;
            --black: black;
            --grey: grey;
        }

        .row{
            margin: auto;
        }

        body{
            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
            background-color: var(--white);
            color: var(--black);
        }

        a {
            color: midnightblue;
        }

        .dark-mode {
            background-color: var(--grey);
            color: var(--black);
        }

    </style>

    <!-- Use this block for page specific meta data -->
    {% block meta %}
    <title>Nighthawk Coding Society</title>
    {% endblock %}

</head>

<body style="font-family: gilroyLIGHT,serif; color: var(--gray);" >
    <!-- Bootstrap Navigation Code -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Feature button -->
        <a class="navbar-brand" href="http://nighthawkcoders.cf/">Nighthawk Coders</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Starters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/greet">Greetings</a>
                        <a class="dropdown-item" href="/snake">Snake Game</a>
                        <a class="dropdown-item" href="/covid19">Covid19 Numbers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Model
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/sql/person">SQL Person</a>
                        <a class="dropdown-item" href="/sql/family">SQL Family</a>
                        <a class="dropdown-item" href="/mongo/person">Mongo Person</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mini-labs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/algorithm/fibonacci">Fibonacci</a>
                        <a class="dropdown-item" href="/pali">Palindrome</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowno" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Course-materials
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/y2021/repos">Repos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/y2021/prep">Summer Prep</a>
                        <a class="dropdown-item" href="/y2021/tri1">Tri 1</a>
                        <a class="dropdown-item" href="/y2021/tri2">Tri 2</a>
                        <a class="dropdown-item" href="/y2021/tri3">Tri 3</a>
                    </div>
                </li>
            </ul>
            <!-- Clock display -->
            <div>
                <span id="clock"></span>
            </div>
            <!-- Dark mode action -->
            <div class="custom-control custom-switch">
                <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch"></label>
            </div>
            <!-- Navigation bar JavaScript support -->
            <script>
                // Dark Mode Toggle
                function darkFunction() {
                    let element = document.body;
                    element.classList.toggle("dark-mode");
                }
                // Clock controller
                let clockElement = document.getElementById('clock');
                function clock() {
                    let date = new Date();
                    clockElement.textContent = date.toLocaleString();
                }
                // Clock refresh frequency
                setInterval(clock, 1000);
            </script>
        </div>
    </nav>

    <!-- CONTENT Block, utilize this block for page specific content  -->
    {% block content %}
    {% endblock %}


    <div class="contact" style="height: 35vh;">

        <div class="row justify-content-center" style="margin-top: 2%;">
            <h3 style="color: var(--black); margin-top: 3%; font-size: 2vw;">Contact Us</h3>
        </div>

        <div class="row justify-content-center">
            <h4><a href="mailto: nighthawkcodingsociety@gmail">nighthawkcodingsociety@gmail</a></h4>
        </div>

    </div>
</body>
</html>
