<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en">
<!-- Head, think of things that are more meta or format oriented -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Common style for site -->
    {% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    {% endblock %}

    <!-- Use this block for page specific meta data -->
    {% block meta %}
    <title>Nighthawk Coding Society</title>
    {% endblock %}

</head>


<body style="font-family: gilroyLIGHT,serif; color: var(--gray);" >
    <!-- Bootstrap Navigation Code -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://nighthawkcodingsociety.com/">
            <img src="/static/assets/ncs_logo.png" width="50" height="50" class="d-inline-block align-center" alt="">

            Nighthawk Coders
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "fragments/navbar.html" %}
            <!-- Clock display -->
            <div class="px-3">
                <span id="clock"></span>
            </div>
            <!-- Dark mode action -->
            <div class="custom-control custom-switch">
                <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch"></label>
            </div>
            <!-- Navigation bar JavaScript support -->
            <script>
                // Dark Mode Toggle
                function darkFunction() {
                    let element = document.body;
                    element.classList.toggle("dark-mode");
                }
                // Clock controller
                let clockElement = document.getElementById('clock');
                function clock() {
                    let date = new Date();
                    clockElement.textContent = date.toLocaleString();
                }
                // Clock refresh frequency
                setInterval(clock, 1000);
            </script>
        </div>
    </nav>

    <!-- CONTENT Block, utilize this block for page specific content  -->
    {% block content %}
    {% endblock %}


    <div class="contact" style="height: 35vh;">

        <div class="row justify-content-center" style="margin-top: 2%;">
            <h3 style="color: var(--black); margin-top: 3%; font-size: 2vw;">Contact Us</h3>
        </div>

        <div class="row justify-content-center">
            <h4><a href="mailto: nighthawkcodingsociety@gmail">nighthawkcodingsociety@gmail</a></h4>
        </div>

    </div>
</body>
</html>
