@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

//background colors
html, body {
  background-image: var(--bs-gradient);
  background-color: var(--bs-secondary);
}

//dark mode logic
.dark-mode {

  $enable-gradients: true;

  /* redefine theme colors for dark theme */
  $primary: #011122;
  $secondary: #111111;
  $success: #094327;
  $dark: #000;
  $body-bg: #eeeeee;

  $theme-colors: (
          "primary": $purple,
          "secondary": $secondary,
          "success": $success,
          "danger": $danger,
          "info": $indigo,
          "dark": $dark,
          "light": #aaa,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  $body-color: #eeeeee;
  $body-bg: #263C5C;

  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};

  @import "../../node_modules/bootstrap/scss/bootstrap";
}

