@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$body-bg: #cfd8dc;

//background colors
html, body {
  background-image: var(--bs-gradient);
  background-color: var(--bs-body-bg);
}

@import "../../node_modules/bootstrap/scss/bootstrap";

//dark mode logic
.dark-mode {

  $enable-gradients: true;

  /* redefine theme and background colors */
  $primary: $purple;
  $success: $green-600;
  $body-bg: #455a64;

  $theme-colors: (
          "primary": $primary,
          "secondary": $secondary,
          "success": $success,
          "danger": $danger,
          "info": $indigo,
          "dark": $dark,
          "light": $light,
  );
  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  /* redefine theme theme-colors-rgb variables */
  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  /* set background values */
  --#{$variable-prefix}body-bg: #{$body-bg};

  @import "../../node_modules/bootstrap/scss/bootstrap";
}

