<!DOCTYPE html>

<!-- EXTEND (layout.html), this is a template for all rendered pages in the project -->
{% extends "layout.html" %}

<!-- CONTENT (in <head>), content for this page -->
{% block meta %}
    <title>Async CRUD page</title>
    <script src={{  url_for("crud.static", filename="javascript/validation.js", version='101') }}></script>

    <script>
        function create_User(){
            //Validate Password (must be 6-20 characters in len)
            verifyPassword("click");
            const name = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const phone = document.getElementById("phone").value;
            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer my-token',
                },
            };
            //url for Create API
            const url='/crud_api/create/' + name + '/' + email+ '/' + password + '/' + phone;
            //Asynch fetch API call to the database to create a new user
            fetch(url, requestOptions).then(response => {
                // prepare HTML search result container for new output
                const resultContainer = document.getElementById("result");
                // trap error response from Web API
                if (response.status !== 200) {
                    const errorMsg = 'Database response error: ' + response.status;
                    console.log(errorMsg);
                    // Email must be unique, no duplicates allowed
                    document.getElementById("pswError").innerHTML =
                        "Email already exists in the table";
                    return;
                }
                // response contains valid result
                response.json().then(data => {
                    console.log(data);
                    //add a table row for the new/created userid
                    const tr = document.createElement("tr");
                    for (let key in data) {
                        if (key !== 'query') {
                            //create a DOM element for the data(cells) in table rows
                            const td = document.createElement("td");
                            console.log(data[key]);
                            //truncate the displayed password to length 20
                            if (key === 'password'){
                                td.innerHTML = data[key].substring(0,17)+"...";
                            }
                            else{
                                td.innerHTML = data[key];}
                            //append the DOM data element to the table
                            tr.appendChild(td);
                        }
                    }
                    resultContainer.appendChild(tr);
                    //Update the Userid drop downs with the new/created userid
                    let optGrp = document.getElementById("ogr_userid");
                    //create a DOM element for the option(new userid) in the option group(dropdown)
                    let option = document.createElement("option");
                    option.innerText = data['userID'];
                    //add the new userid to the dropdown
                    optGrp.appendChild(option);
                    optGrp = document.getElementById("ogu_userid");
                    option = document.createElement("option");
                    option.innerText = data['userID'];
                    optGrp.appendChild(option);
                    optGrp = document.getElementById("ogd_userid");
                    option = document.createElement("option");
                    option.innerText = data['userID'];
                    optGrp.appendChild(option);
                    document.getElementById("pswError").innerHTML ="";
                    document.getElementById("name").value="";
                    document.getElementById("email").value="";
                    document.getElementById("password").value="";
                    document.getElementById("phone").value="";
                })
            })
        }
        // fetch the record from the database for a chosen userid
        function read_User(){
            const get_userid = document.getElementById("read_userid");
            const userID = get_userid.value;
            //url for Read API
            const url='/crud_api/read/' + userID;
            const requestOptions = {
                method: 'GET',
            };
            //Async fetch API call to the database
            fetch(url, requestOptions).then(response => {
                // prepare HTML search result container for new output
                const resultContainer = document.getElementById("result");
                // clean up from previous search
                while (resultContainer.firstChild) {
                    resultContainer.removeChild(resultContainer.firstChild);
                }
                // trap error response from Web API
                if (response.status !== 200) {
                    const errorMsg = 'Database response error: ' + response.status;
                    console.log(errorMsg);
                    const tr = document.createElement("tr");
                    const td = document.createElement("td");
                    td.innerHTML = errorMsg;
                    tr.appendChild(td);
                    resultContainer.appendChild(tr);
                    return;
                }
                // response contains valid result
                response.json().then(data => {
                    console.log(data);
                    //create a table row for the new user
                    const tr = document.createElement("tr");
                    for (let key in data) {
                        if (key !== 'query') {
                            //create a cell for each key
                            const td = document.createElement("td");
                            if (key === 'password'){
                                td.innerHTML = data[key].substring(0,17)+"...";
                            } else{
                                td.innerHTML = data[key];
                            }
                            //add each cell to the table row
                            tr.appendChild(td);
                        }
                    }
                    // append the row to the table
                    resultContainer.appendChild(tr);
                })
            })
        }

        function update_User() {
            const username = document.getElementById("update_name").value;
            const userid = document.getElementById("update_userid").value;
            //url for Update API
            const url = '/crud_api/update/' + userid + '/' + username;
            const requestOptions = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer my-token',
                },
            };
            fetch(url, requestOptions).then(response => {
                // trap error response from Web API
                if (response.status !== 200) {
                    const errorMsg = 'Database response error: ' + response.status;
                    console.log(errorMsg);
                    document.getElementById("pswError").innerHTML = errorMsg;
                    return;
                }
                // response contains valid result
                response.json().then(data => {
                    console.log(data);

                    //search for the required userid in the table row
                        let table = document.getElementById('users');
                        let rows = table.querySelectorAll('tbody tr');
                        for(let i = 0; i < rows.length; ++i) {
                            //search for the required userid starting at row 0, column 0
                            if (parseInt(rows[i].cells[0].innerHTML) === parseInt(userid)) {
                                //for the selected userid, update the username in column 1
                                rows[i].cells[1].innerHTML = username;
                            }
                        }
                    //Another way of doing it is with jquery, in the table, find closest tr containing data and get td text
                    //const updateRow = $("#result td:contains("+userid+")").closest("tr").find("td");
                    //updateRow[1].innerHTML = username;
                        //clear the input box after update
                        document.getElementById("update_name").value="";

                    })

                })

        }

        function delete_User(){
            const userid = document.getElementById("delete_userid").value;
            //url for Delete API
            const url = '/crud_api/delete/' + userid;
            const requestOptions = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer my-token',
                },
            };
            fetch(url, requestOptions).then(response => {
                // trap error response from Web API
                if (response.status !== 200) {
                    const errorMsg = 'Database response error: ' + response.status;
                    console.log(errorMsg);
                    document.getElementById("pswError").innerHTML = errorMsg;
                    return;
                }
                // response contains valid result
                response.json().then(data => {
                    console.log(data);

                    let table = document.getElementById('users');
                    let rows = table.querySelectorAll('tbody tr');
                    //search for the required userid in the HTML table
                    for(let i = 0; i < rows.length; ++i) {
                        //search for the userid starting at row 0, column 0
                        if (parseInt(rows[i].cells[0].innerHTML) === parseInt(userid)) {
                            //delete the table row for the matched userid
                            document.getElementById("users").deleteRow(i+1);
                            //remove the deleted userid from the dropdowns
                            document.getElementById("delete_userid").options[i].style.display = "none";
                            document.getElementById("read_userid").options[i].style.display = "none";
                            document.getElementById("update_userid").options[i].style.display = "none";
                        }
                    }
                    //Another way of doing it is with jquery, in the table, find closest tr containing data and delete it
                    //$("#"+"result").find("td:contains('"+userid+"')").closest('tr').remove();

                })
            })
        }
    </script>
{% endblock %}

<!-- CONTENT (in <body>), content for this page -->
{% block content %}
    <div class="container py-4 text-light bg-success">
        <header class="pb-3 mb-4 border-bottom">
            <div class="d-flex align-items-center text-light text-decoration-none">
                <span class="fs-4">Async SQL CRUD Admin Page</span>
            </div>
        </header>

        <div class="container py-4">
            <div class="p-5 mb-4 bg-light text-dark rounded-3">
                <h2>Table Viewer</h2>
                <div class="row align-items-md-stretch">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><a href={{url_for('crud_api.crud_api')}}>Full Table </a></td>
                            <td><a href="https://github.com/nighthawkcoders/nighthawk_csp/tree/master/crud">GitHub Source</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-md-stretch">
                    <div class="container-fluid py-5">
                        <table class="table" id="users">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Phone</th>
                            </tr>
                            </thead>
                            <tbody id="result">
                            <!-- Loop through rows in table -->
                            {% for row in table %}
                                <!--
                                Prepare table for display
                                    caution: phone number needs "~" format step to force type to string
                                -->
                                {% set pn = "" ~ row['phone'] %}
                                {% set pnf = "(" ~ pn[0:3] ~ ")" ~ pn[3:6] ~ "-" ~ pn[6:10] %}
                                <tr>
                                    <td>{{ row['userID'] }}</td>
                                    <td>{{ row['name'] }}</td>
                                    <td>{{ row['email'] }}</td>
                                    <td>{{ row['password'] | truncate(20) }}</td>
                                    <td>{{ pnf }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="p-5 mb-4 bg-light text-dark rounded-3">
                <h2>Create a new record</h2>

                    <table class="table">
                        <thead>
                        <tr>
                            <th><label for="name">Name</label></th>
                            <th><label for="email">Email</label></th>
                            <th><label for="password">Password</label></th>
                            <th><label for="phone">Phone</label></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" name="name" id="name" required></td>
                            <td><input type="email" name="email" id="email" placeholder="abc@xyz.org" required></td>
                            <td><input type="password" name="password" id="password" required></td>
                            <td><input type="tel" name="phone" id="phone" pattern="[0-9]{10}" placeholder="1234567890" required></td>
                            <td ><button onclick="create_User()">Create</button></td>

                        </tr>
                        </tbody>
                    </table>
                    <p id="pswError"></p>
            </div>
        </div>
        <div class="container py-4">
            <div class="row mb-4 bg-light text-dark rounded-3">
                <div class="col-md-3">
                    <div class="p-5 mb-4 bg-light text-dark rounded-3">
                        <h2>Read</h2>
                        <!-- <input type="submit" value="Read" -->
                            <table id="read_table">
                                <tr><th><label for="read_userid">ID</label></th></tr>
                                <tr>
                                    <td>
                                        <select name="userid" id="read_userid">
                                            <optgroup id="ogr_userid" label="userid" >
                                                {% for row in table %}
                                                    <option id="option" label="{{ row['userID'] }}">{{ row['userID'] }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </td>
                                    <td>
                                        <!-- <input type="submit" value="Read" -->
                                        <button onclick="read_User()">Read</button>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5 mb-4 bg-light text-dark rounded-3">
                        <h2>Update</h2>
                            <table id="update_table">
                                <tr>
                                    <th><label for="update_userid">ID</label></th>
                                    <th><label for="update_name">Name</label></th>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="userid" id="update_userid">
                                            <optgroup id="ogu_userid" label="userid" >
                                                {% for row in table %}
                                                    <option label="{{ row['userID'] }}">{{ row['userID'] }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </td>
                                    <td><input type="text" name="name" id="update_name" required></td>
                                    <!-- td><input type="submit" value="Update"></td -->
                                    <td> <button onclick="update_User()">Update</button>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-5 mb-4 bg-light text-dark rounded-3">
                        <h2>Delete</h2>
                            <table id="read_table">
                                <tr><th><label for="delete_userid">ID</label></th></tr>
                                <tr>
                                    <td>
                                        <select name="userid" id="delete_userid">
                                            <optgroup id="ogd_userid" label="userid">
                                                {% for row in table %}
                                                    <option label="{{ row['userID'] }}">{{ row['userID'] }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </td>
                                    <td><button onclick="delete_User()">Delete</button></td>
                                </tr>
                            </table>
                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}
