<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% set imgBulbOn = "/static/assets/bulb_on.gif" %}
{% set imgBulbOff = "/static/assets/bulb_off.png" %}
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}

{% block meta %}
<title>Binary page</title>
<script>
  // return string with current value of each bit
  function getBits() {
    let bits = "";
    for(let i = 0; i < 8; i++) {
      bits = bits + document.getElementById('digit' + i).value;
    }
    return bits;
  }
  // setter for DOM values
  function setConversions(binary) {
    //alert("Binary number: " + binary );
    document.getElementById('binary').innerHTML = binary;
    // Decimal conversion
    const octal = parseInt(binary, 2).toString(8);
    //alert("Decimal number: " + decimal );
    document.getElementById('octal').innerHTML = octal;
    // Decimal conversion
    const hexadecimal = parseInt(binary, 2).toString(16);
    //alert("Decimal number: " + decimal );
    document.getElementById('hexadecimal').innerHTML = hexadecimal;
    // Decimal conversion
    const decimal = parseInt(binary, 2).toString();
    //alert("Decimal number: " + decimal );
    document.getElementById('decimal').innerHTML = decimal;
  }
  //
  function decimal_2_base(decimal, base) {
    let conversion = "";
    do {
      let digit = decimal % base;
      conversion = "" + digit + conversion;    // what does this do?
      decimal = ~~(decimal / base);                         // what does this do?
    } while (decimal > 0);                 // why while at the end? what is ~~?

    if (base == 2) {
      for (let i = 0; conversion.length < 8; i++) {
        conversion = "0" + conversion;
      }
    }

    return conversion;
  }

  // toggle selected bit and recalculate
  function toggleBit(i) {
    //alert("Digit action: " + i );
    const dig = document.getElementById('digit' + i);
    const image = document.getElementById('bulb' + i);
    const butt = document.getElementById('butt' + i);
    // Change digit and visual
    if (image.src.match("{{ imgBulbOn }}")) {
      dig.value = 0;
      image.src = "{{ imgBulbOff }}";
      butt.innerHTML = "{{ msgTurnOn }}";
    } else {
      dig.value = 1;
      image.src = "{{ imgBulbOn }}";
      butt.innerHTML = "{{ msgTurnOff }}";
    }
    // Binary numbers
    const binary = getBits();
    setConversions(binary);
  }
  // add is positive integer, subtract is negative integer
  function add(n) {
    let binary = getBits();
    const decimal = parseInt(binary, 2) + n;

    binary = decimal_2_base(decimal, 2);
    alert("Binary" + binary);

    setConversions(binary);
  }
</script>
{% endblock %}

{% block content %}
<h1 class="text-center">Binary Math with Conversions</h1>
<div class="container">
  <div class="row justify-content-md-center">

    <div class="col-8">
      <table class="table">
      <tr id="table">
        <th>Plus</th>
        <th>Binary</th>
        <th>Octal</th>
        <th>Hexadecimal</th>
        <th>Decimal</th>
        <th>Minus</th>
      </tr>
      <tr>
        <td><button type="button" id="add1" onclick="add(1)">+1</button></td>
        <td id="binary">00000000</td>
        <td id="octal">0</td>
        <td id="hexadecimal">0</td>
        <td id="decimal">0</td>
        <td><button type="button" id="sub1" onclick="add(-1)">-1</button></td>
      </tr>
      </table>
    </div>

    <div class="col-12">
      <table class="table">
        <tr>
          {% for i in range(8) %}
            <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOff }}" alt="" width="60" height="Auto">
              <button type="button" id="butt{{i}}" onclick="toggleBit('{{i}}')">{{ msgTurnOn }}</button>
            </td>
          {% endfor %}
        </tr>
        <tr>
          {% for i in range(8) %}
            <td><input type='text' id='digit{{i}}' Value="0" size="1" readonly></td>
          {% endfor %}
        </tr>
      </table>
    </div>

    </div>
</div>
{% endblock %}
</html>