<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% set imgBulbOn = "/static/assets/bulb_on.gif" %}
{% set imgBulbOff = "/static/assets/bulb_off.png" %}
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}

{% block meta %}
<title>Binary page</title>
<script>
  function changeImage(i) {
    //alert("Digit action: " + i );
    const dig = document.getElementById('digit' + i);
    const image = document.getElementById('bulb' + i);
    const butt = document.getElementById('butt' + i);
    // Change digit and visual
    if (image.src.match("{{ imgBulbOn }}")) {
      dig.value = 0;
      image.src = "{{ imgBulbOff }}";
      butt.innerHTML = "{{ msgTurnOn }}";
    } else {
      dig.value = 1;
      image.src = "{{ imgBulbOn }}";
      butt.innerHTML = "{{ msgTurnOff }}";
    }
    // Binary numbers
    const binary = document.getElementById('digit0').value +
            document.getElementById('digit1').value +
            document.getElementById('digit2').value +
            document.getElementById('digit3').value +
            document.getElementById('digit4').value +
            document.getElementById('digit5').value +
            document.getElementById('digit6').value +
            document.getElementById('digit7').value;
    //alert("Binary number: " + binary );
    document.getElementById('binary').innerHTML = binary;
    // Decimal conversion
    const octal = parseInt(binary, 2).toString(8);
    //alert("Decimal number: " + decimal );
    document.getElementById('octal').innerHTML = octal;
    // Decimal conversion
    const hexadecimal = parseInt(binary, 2).toString(16);
    //alert("Decimal number: " + decimal );
    document.getElementById('hexadecimal').innerHTML = hexadecimal;
    // Decimal conversion
    const decimal = parseInt(binary, 2).toString();
    //alert("Decimal number: " + decimal );
    document.getElementById('decimal').innerHTML = decimal;
  }
</script>
{% endblock %}

{% block content %}
<h1 class="text-center">Binary Math with Conversions</h1>
<div class="container">
  <div class="row justify-content-md-center">

    <div class="col-8">
      <table class="table">
      <tr id="table">
        <th>Binary</th>
        <th>Octal</th>
        <th>Hexadecimal</th>
        <th>Decimal</th>
      </tr>
      <tr>
        <td id="binary">11111111</td>
        <td id="octal">377</td>
        <td id="hexadecimal">FF</td>
        <td id="decimal">255</td>
      </tr>
      </table>
    </div>

    <div class="col-12">
      <table class="table">
        <tr>
          {% for i in range(8) %}
            <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOn }}" alt="" width="60" height="Auto">
              <button type="button" id="butt{{i}}" onclick="changeImage('{{i}}')">{{ msgTurnOff }}</button>
            </td>
          {% endfor %}
        </tr>
        <tr>
          {% for i in range(8) %}
            <td><input type='text' id='digit{{i}}' Value="1" size="1" readonly></td>
          {% endfor %}
        </tr>
      </table>
    </div>

  </div>
</div>
{% endblock %}
</html>