<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <img src="{{ url_for('algorithm.static', filename='Fibonacci_spiral.svg') }}" height="60px" class="d-inline-block align-center" alt="">
            <span class="fs-4">Fibonacci Algorithm</span>
        </header>


        <div class="row mx-3 mb-4 bg-primary rounded-3 align-items-md-stretch">
            <h3>Type the nth number in the fibonacci sequence?</h3>
            <form id="fibForm" action="{{ url_for('algorithm.fibonacci') }}" method="POST" >
                <label for="series"></label>
                <input name="series" id="series" type="number" value="2" min="2" max="100" >
                <button>Go!</button>
            </form>

            <h3></h3>
            <!-- Number, List table -->
            <table class="table mx-3">
                <thead>
                <tr>
                    <th scope="col">Fibonacci: {{fibonacci.series}}</th>
                    <th scope="col">Series: {{fibonacci.series}}</th>
                </tr>
                </thead>
                <tbody class="text-light">
                <tr>
                    <td>{{fibonacci.number}}</td>
                    <td>{{fibonacci.list}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row mx-3 mb-4 bg-primary rounded-3 align-items-md-stretch">
            <!-- Series -->
            <table class="table mx-3">
                <thead>
                <tr>
                    <th scope="col">Fibonacci {{fibonacci.series}} series build up to {{fibonacci.number}}</th>
                </tr>
                </thead>
                <tbody class="text-light">
                {% for i in range(fibonacci.series) %}
                <tr>
                    <td>{{ fibonacci.get_sequence(i) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
